<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ExamIndexMapper">

    <resultMap type="ExamIndex" id="ExamIndexResult">
        <result property="indexId"    column="index_id"    />
        <result property="examSemester"    column="exam_semester"    />
        <result property="examTeacher"    column="exam_teacher"    />
        <result property="examName"    column="exam_name"    />
        <result property="examTime"    column="exam_time"    />
        <result property="failNum"    column="fail_num"    />
        <result property="classTotal"    column="class_total"    />
        <result property="passingRate"    column="passing_rate"    />
        <result property="creater"    column="creater"    />
    </resultMap>

    <sql id="selectExamIndexVo">
        select index_id, exam_semester, exam_teacher, exam_name, exam_time, fail_num, class_total, passing_rate,creater from exam_index
    </sql>

    <select id="selectExamIndexList" parameterType="ExamIndex" resultMap="ExamIndexResult">
        <include refid="selectExamIndexVo"/>
        <where>
            <if test="examSemester != null  and examSemester != ''"> and exam_semester = #{examSemester}</if>
            <if test="examTeacher != null  and examTeacher != ''"> and exam_teacher like concat('%', #{examTeacher}, '%')</if>
            <if test="examName != null  and examName != ''"> and exam_name like concat('%', #{examName}, '%')</if>
            <if test="examTime != null "> and exam_time = #{examTime}</if>
            <if test="creater != null  and creater != ''"> and creater = #{creater}</if>
        </where>
    </select>

    <select id="selectExamIndexById" parameterType="Long" resultMap="ExamIndexResult">
        <include refid="selectExamIndexVo"/>
        where index_id = #{indexId}
    </select>

    <select id="selectExamIndexByName" parameterType="ExamIndex" resultMap="ExamIndexResult">
        <include refid="selectExamIndexVo"/>
        where exam_teacher = #{examTeacher}
    </select>

    <insert id="insertExamIndex" parameterType="ExamIndex" useGeneratedKeys="true" keyProperty="indexId">
        insert into exam_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examSemester != null and examSemester != ''">exam_semester,</if>
            <if test="examTeacher != null">exam_teacher,</if>
            <if test="examName != null and examName != ''">exam_name,</if>
            <if test="examTime != null">exam_time,</if>
            <if test="failNum != null and failNum != ''">fail_num,</if>
            <if test="classTotal != null and classTotal != ''">class_total,</if>
            <if test="passingRate != null">passing_rate,</if>
            <if test="creater != null">creater,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="examSemester != null and examSemester != ''">#{examSemester},</if>
            <if test="examTeacher != null">#{examTeacher},</if>
            <if test="examName != null and examName != ''">#{examName},</if>
            <if test="examTime != null">#{examTime},</if>
            <if test="failNum != null and failNum != ''">#{failNum},</if>
            <if test="classTotal != null and classTotal != ''">#{classTotal},</if>
            <if test="passingRate != null">#{passingRate},</if>
            <if test="creater != null">#{creater},</if>
        </trim>
    </insert>

    <update id="updateExamIndex" parameterType="ExamIndex">
        update exam_index
        <trim prefix="SET" suffixOverrides=",">
            <if test="examSemester != null and examSemester != ''">exam_semester = #{examSemester},</if>
            <if test="examTeacher != null">exam_teacher = #{examTeacher},</if>
            <if test="examName != null and examName != ''">exam_name = #{examName},</if>
            <if test="examTime != null">exam_time = #{examTime},</if>
            <if test="failNum != null and failNum != ''">fail_num = #{failNum},</if>
            <if test="classTotal != null and classTotal != ''">class_total = #{classTotal},</if>
            <if test="passingRate != null">passing_rate = #{passingRate}</if>
        </trim>
        where index_id = #{indexId}
    </update>

    <delete id="deleteExamIndexById" parameterType="Long">
        delete from exam_index where index_id = #{indexId}
    </delete>

    <delete id="deleteExamIndexByIds" parameterType="String">
        delete from exam_index where index_id in
        <foreach item="indexId" collection="array" open="(" separator="," close=")">
            #{indexId}
        </foreach>
    </delete>
</mapper>
